In [1]:
import json
import os
import numpy as np
import pandas as pd

In [2]:
test = pd.read_json('val.json', typ='frame', encoding='utf-8')

In [3]:
test

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[],118598,,"[373313, 151080, 275346, 696876, 165237, 52593...",1675,2019-05-27 14:14:33.000
1,[],131447,앨리스테이블,[],1,2014-07-16 15:24:24.000
2,[],51464,,"[529437, 516103, 360067, 705713, 226062, 37089...",62,2008-06-21 23:26:22.000
3,[],45144,,"[589668, 21711, 570151, 320043, 13930, 599327,...",20,2017-10-30 18:15:43.000
4,[],79929,,"[672718, 121924, 102694, 683657, 201558, 38511...",20,2017-02-07 11:40:42.000
...,...,...,...,...,...,...
23010,[잔잔한],101722,,"[75842, 26083, 244183, 684715, 500593, 508608,...",17,2015-12-17 14:06:05.000
23011,"[어머니, 힘들때, 아빠, 가족, 위로받고싶을때]",122127,,"[450275, 487671, 561031, 663944, 628672, 59121...",10,2020-04-16 21:35:44.000
23012,[],77438,,"[625875, 464051, 11657, 236393, 358186, 213435...",0,2019-03-27 15:27:40.000
23013,[],36231,,"[161094, 665833, 688145, 432735, 439938, 12665...",31,2015-11-18 11:49:09.000
23014,[],65189,,"[643070, 132994, 98223, 293236, 513129, 650494...",19,2017-04-23 16:50:58.000

In [4]:
tag_song = pd.read_json('tag_song_pair.json', typ='frame', orient= 'table', encoding='utf-8')
tag_song

          tag                                               song
0              [79619, 238347, 80928, 184737, 656162, 253222,...
1          00  [521216, 374791, 271883, 404495, 168982, 45416...
2         007  [696064, 634628, 568983, 402460, 515742, 33385...
3      007시리즈  [333856, 134688, 291812, 594502, 427367, 35991...
4         00s  [109574, 260107, 593932, 274958, 2063, 15376, ...
...       ...                                                ...
29155      힙해  [360962, 260612, 610311, 195080, 569354, 54477...
29156     힙힙힙  [260612, 305678, 65551, 527887, 435732, 139285...
29157    힛뎀포크  [371841, 687362, 251011, 377475, 514305, 50982...
29158     힛뎀폭  [371841, 687362, 251011, 377475, 514305, 50982...
29159    힛뎀폭스  [371841, 687362, 251011, 377475, 514305, 50982...

[29160 rows x 2 columns]

In [5]:
song_meta = pd.read_json('song_meta.json', typ='frame', encoding='utf-8')
song_meta

,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,id
0,[GN0901],20140512,불후의 명곡 - 7080 추억의 얄개시대 팝송베스트,2255639,[2727],Feelings,[GN0900],[Various Artists],0
1,"[GN1601, GN1606]",20080421,"Bach : Partitas Nos. 2, 3 & 4",376431,[29966],"Bach : Partita No. 4 In D Major, BWV 828 - II....",[GN1600],[Murray Perahia],1
2,[GN0901],20180518,Hit,4698747,[3361],Solsbury Hill (Remastered 2002),[GN0900],[Peter Gabriel],2
3,"[GN1102, GN1101]",20151016,Feeling Right (Everything Is Nice) (Feat. Popc...,2644882,[838543],Feeling Right (Everything Is Nice) (Feat. Popc...,[GN1100],[Matoma],3
4,"[GN1802, GN1801]",20110824,그남자 그여자,2008470,[560160],그남자 그여자,[GN1800],[Jude Law],4
...,...,...,...,...,...,...,...,...,...
707984,[GN2001],19991219,The Best Best Of The Black President,65254,[166499],Coffin For Head Of State,[GN2000],[Fela Kuti],707984
707985,[GN0901],19860000,True Colors,44141,[11837],Change Of Heart,[GN0900],[Cyndi Lauper],707985
707986,"[GN0105, GN0101]",20160120,행보 2015 윤종신 / 작사가 윤종신 Live Part.1,2662866,[437],스치듯 안녕,[GN0100],[윤종신],707986
707987,"[GN1807, GN1801]",20131217,명상의 시간을 위한 뉴에이지 음악,2221722,[729868],숲의 빛,[GN1800],[Nature Piano],707987
707988,"[GN0601, GN0604]",19980000,김경호 Live,34663,[895],Queen 명곡 멜로디,[GN0600],[김경호],707988

In [ ]:
#temp_fp = open("tag_similar_matrix50_1.json")
#tag_similar = np.array(json.load(tag_similar))
#tag_similar

In [6]:
def give_tag_song(idx):
    id_ = test.loc[idx]['id'].astype(str)
    tags = test.loc[idx]['tags']
    songs = test.loc[idx]['songs']
    return id_, tags, songs

def take_date(idx):
    target_date = test.loc[idx]['updt_date']
    year = target_date[:4]
    month = target_date[5:7]
    day = target_date[8:10]
    date = year+month+day
    return int(date)

def valid_date(idx, id_):
    plylst_date = take_date(idx)
    song_date = song_meta[song_meta['id']==id_]['issue_date'].to_list()[0]
    if song_date < plylst_date: return True
    else: return False

def tagIsTen(list): return len(list) == 15
def songIsHund(list): return len(list) == 100

In [7]:
def resultCase_tag_song(idx):
    id_, tags, songs = give_tag_song(idx)
    
    tag_count = [0 for _ in range(29160)]
    # 태그 빈도수
    if len(tags) != 15:
        for i in range(29160):
            for s in tag_song.loc[i]['song']:
                if s in songs:
                    tag_count[i] += 1

    song_count = {}
    # 곡 빈도수
    if len(songs) > 100:
        for s in songs:
            song_count[s] = 0
        for t in tags:
            for s in tag_song[tag_song['tag']==t]['song'].to_list()[0]:
                if s in songs:
                    song_count[s] = song_count[s] + 1    
        
    # tag selection
    if len(tags)==15:
        new_tags = tags
    else: 
        new_tags = []
        tag_count_copy = tag_count
        if len(tags) < 15:
            left_num = 15 - len(tags)
            new_tags = tags
            for i in range(left_num):
                target = tag_count_copy.index(max(tag_count_copy))
                if tag_count_copy[target] == 0: break
                if target not in new_tags: new_tags.append(tag_song.loc[target]['tag'])
                tag_count_copy[target] = 0   
            if tagIsTen(new_tags) is False: print("need more tag") # 유사성/제목으로 태그 추가
            del tag_count_copy
        else: 
            tag_prior = {}
            for i in ragne(29160):
                if tag_song.loc[i]['tag'] in tags:
                    tag_prior[tag_song.loc[i]['tag']] = tag_count[i]
            for i in range(15):
                target = max(tag_prior.keys(), key=(lambda k: tag_prior[k]))
                new_tags.append(target)
                del tag_prior[target]
            if tagIsTen(new_tags) is False: print("error")
    
    # song selection
    new_songs = []
    if len(songs) == 100:
        new_songs = songs
    else:
        if len(songs) < 100:
            new_songs = songs
            new_song_dic = {}
            left_num = 100 - len(songs)
            for t in new_tags:
                for s in tag_song[tag_song['tag']==t]['song'].to_list()[0]:
                    if s not in songs:
                        if s not in new_song_dic:
                            new_song_dic[s] = 0
                        else: new_song_dic[s] = new_song_dic[s]+1
            for i in range(left_num):
                if len(new_song_dic.keys()) <= 0: break
                target = max(new_song_dic.keys(), key=(lambda k: new_song_dic[k]))
                if valid_date(idx, target) and target not in new_songs: new_songs.append(target)
                del new_song_dic[target]
            if songIsHund(new_songs) is False: # 유사도로 태그 뽑기
                # 임시 코드
                new_song_dic = {}
                for i in range(29160):
                    for s in tag_song.loc[i]['song']:
                        if s not in songs:
                            if s not in new_song_dic:
                                new_song_dic[s] = 0
                            else: new_song_dic[s] = new_song_dic[s]+1
                left_num = 100 - len(new_songs)
                for i in range(left_num):
                    if len(new_song_dic.keys()) <= 0: break
                    target = max(new_song_dic.keys(), key=(lambda k: new_song_dic[k]))
                    if valid_date(idx, target) and target not in new_songs: new_songs.append(target)
                    del new_song_dic[target]
            if songIsHund(new_songs) is False: print("need more songs")
        else:
            for i in range(100):
                target = max(song_count.keys(), key=(lambda k: song_count[k]))
                new_songs.append(target)
                del song_count[target]
            if songIsHund(new_songs) is False: print("error")
    print("number of tags: " + str(len(new_tags)) + ", number of songs: " + str(len(new_songs)))
    
    result_list = []
    result_list.append(id_)
    result_list.append(new_tags[:10])
    result_list.append(new_songs)
    return result_list

In [8]:
val_test = test[test['id']==test.loc[23011]['id']]
val_test

,tags,id,plylst_title,songs,like_cnt,updt_date
23011,"[어머니, 힘들때, 아빠, 가족, 위로받고싶을때]",122127,,"[450275, 487671, 561031, 663944, 628672, 59121...",10,2020-04-16 21:35:44.000

In [9]:
resultCase_tag_song(23011)

number of tags: 10, number of songs: 100

['122127',
 ['어머니', '힘들때', '아빠', '가족', '위로받고싶을때', '가족', '부모님', '사랑', '힐링', '휴식'],
 [450275,
  487671,
  561031,
  663944,
  628672,
  591212,
  701514,
  581482,
  84627,
  462838,
  131209,
  555619,
  122340,
  595606,
  459014,
  701110,
  676,
  123547,
  598667,
  14641,
  120556,
  123015,
  248887,
  26249,
  477689,
  278394,
  105755,
  626478,
  484506,
  19458,
  616335,
  8871,
  447050,
  277671,
  99752,
  659334,
  130601,
  537206,
  546888,
  206865,
  126702,
  553095,
  625127,
  95485,
  599463,
  220971,
  65496,
  459382,
  601250,
  361185,
  180953,
  132219,
  40016,
  289070,
  101808,
  663737,
  681191,
  442580,
  637004,
  33861,
  583999,
  257205,
  339463,
  151114,
  127324,
  690770,
  609744,
  350231,
  12594,
  396672,
  431454,
  313704,
  8719,
  152475,
  133859,
  555039,
  546623,
  283138,
  689594,
  424992,
  28024,
  123841,
  434580,
  73702,
  289818,
  125822,
  220264,
  226579,
  318006,
  188313,
  103106,
  163383,
  6736,
  119757,
  160533,
  352978,
  378594,
  328334,
  586564,
  444003]]

In [10]:
val_test = test[test['id']==test.loc[23010]['id']]
val_test

,tags,id,plylst_title,songs,like_cnt,updt_date
23010,[잔잔한],101722,,"[75842, 26083, 244183, 684715, 500593, 508608,...",17,2015-12-17 14:06:05.000

In [11]:
resultCase_tag_song(23010)

need more songs
number of tags: 10, number of songs: 91

['101722',
 ['잔잔한', '힐링', '잔잔한', '휴식', '밤', '새벽', '기분전환', '드라이브', '발라드', '까페'],
 [75842,
  26083,
  244183,
  684715,
  500593,
  508608,
  679436,
  231937,
  279712,
  192479,
  542337,
  700617,
  179980,
  63818,
  464304,
  682776,
  50057,
  292099,
  490361,
  460174,
  226675,
  294782,
  241453,
  472397,
  152394,
  229487,
  484964,
  662916,
  668037,
  119380,
  659779,
  523810,
  62694,
  516039,
  631810,
  195524,
  332442,
  485271,
  547995,
  502709,
  446812,
  613077,
  510190,
  21633,
  648841,
  101945,
  419696,
  468732,
  262145,
  524340,
  262202,
  62,
  67,
  71,
  96,
  148,
  191,
  210,
  224,
  524523,
  250,
  262396,
  261,
  524571,
  311,
  262456,
  262506,
  524690,
  463,
  470,
  262622,
  482,
  501,
  532,
  524880,
  262760,
  636,
  524925,
  647,
  262811,
  262830,
  262841,
  262848,
  729,
  765,
  262949,
  262963,
  525136,
  869,
  263018,
  116573]]

In [12]:
val_test = test[test['id']==test.loc[20000]['id']]
val_test

,tags,id,plylst_title,songs,like_cnt,updt_date
20000,"[스트레스, JPOP]",42728,,"[69335, 670105, 392177, 705564, 339899, 10190,...",7,2018-04-29 01:12:33.000

In [13]:
resultCase_tag_song(20000)

need more songs
number of tags: 10, number of songs: 99

['42728',
 ['스트레스', 'JPOP', 'JPOP', '일본', '일본노래', '일본음악', 'JPOP모음', '기분전환', '독특한', '명곡'],
 [69335,
  670105,
  392177,
  705564,
  339899,
  10190,
  168744,
  370394,
  580527,
  365762,
  653791,
  264103,
  669747,
  151419,
  678303,
  288102,
  681541,
  551732,
  422736,
  688062,
  560378,
  700090,
  572970,
  182116,
  51492,
  582588,
  191226,
  465141,
  73698,
  204900,
  206932,
  606596,
  82815,
  83007,
  224364,
  624957,
  239980,
  246882,
  379541,
  512546,
  209127,
  1133,
  397712,
  135638,
  5274,
  137771,
  139488,
  534974,
  11849,
  667843,
  408698,
  671719,
  151518,
  287141,
  291638,
  32445,
  32585,
  693576,
  40175,
  172504,
  173480,
  306074,
  437232,
  45747,
  184406,
  579717,
  318530,
  581912,
  65074,
  327385,
  206723,
  612090,
  486956,
  361442,
  104500,
  372528,
  635129,
  116156,
  255597,
  126451,
  128655,
  129354,
  165381,
  657261,
  134177,
  70506,
  629685,
  270324,
  569405,
  409201,
  278599,
  606386,
  278832,
  144663,
  493762,
  581799,
  357367,
  116573,
  505036]]

In [14]:
val_test = test[test['id']==test.loc[500]['id']]
val_test

,tags,id,plylst_title,songs,like_cnt,updt_date
500,"[들썩들썩, 분위기, 드라이브, 저녁, 퇴근길]",50066,,"[135766, 10966, 548295, 190893, 499713, 173926...",3,2019-11-29 09:54:30.000

In [15]:
resultCase_tag_song(500)

number of tags: 10, number of songs: 100

['50066',
 ['들썩들썩', '분위기', '드라이브', '저녁', '퇴근길', '기분전환', '드라이브', '스트레스', '신나는', '트렌디'],
 [135766,
  10966,
  548295,
  190893,
  499713,
  173926,
  102978,
  380171,
  517472,
  146668,
  65557,
  499739,
  548896,
  557120,
  671830,
  57438,
  704609,
  286829,
  647304,
  581799,
  704707,
  663784,
  434414,
  499968,
  344327,
  450838,
  213289,
  311,
  57664,
  614725,
  393544,
  622923,
  319861,
  360825,
  205179,
  65942,
  377243,
  213435,
  205247,
  311790,
  459256,
  205312,
  98832,
  311834,
  541212,
  49718,
  688703,
  705098,
  279125,
  229983,
  279151,
  156278,
  164508,
  311995,
  123597,
  615120,
  443130,
  246531,
  221986,
  90963,
  525152,
  344931,
  648037,
  418694,
  525203,
  140192,
  705462,
  623549,
  615368,
  41954,
  17382,
  369649,
  295959,
  689183,
  238643,
  508992,
  541764,
  623700,
  525400,
  115808,
  222305,
  566387,
  353409,
  156801,
  599198,
  427174,
  197856,
  427256,
  394489,
  369922,
  263447,
  615704,
  689439,
  476458,
  58704,
  144663,
  493762,
  357367,
  116573,
  505036]]

In [16]:
val_test = test[test['id']==test.loc[2055]['id']]
val_test

,tags,id,plylst_title,songs,like_cnt,updt_date
2055,"[생각, 몰라, 스트레스]",93570,,"[172487, 97691, 593084, 551926, 521361, 620970...",4,2019-08-07 17:24:21.000

In [17]:
resultCase_tag_song(2055)

number of tags: 10, number of songs: 100

['93570',
 ['생각', '몰라', '스트레스', '기분전환', '알앤비', '감성', '드라이브', '매장음악', '여행', '휴식'],
 [172487,
  97691,
  593084,
  551926,
  521361,
  620970,
  22620,
  194059,
  99098,
  98472,
  132689,
  460823,
  690528,
  35703,
  429377,
  691847,
  331958,
  332377,
  660180,
  300087,
  7070,
  695494,
  597312,
  302762,
  237407,
  633203,
  535521,
  273962,
  405400,
  668209,
  46188,
  701557,
  243098,
  505710,
  278145,
  310974,
  606635,
  246531,
  542129,
  509373,
  673548,
  116573,
  149779,
  313958,
  412416,
  19533,
  150618,
  413422,
  511841,
  479311,
  676361,
  21533,
  611737,
  316956,
  351341,
  351342,
  549547,
  648635,
  616212,
  616438,
  551030,
  584285,
  584666,
  421683,
  454528,
  356306,
  324208,
  194427,
  555029,
  653733,
  360459,
  622614,
  688159,
  393266,
  196664,
  62,
  557120,
  196697,
  229487,
  32880,
  360562,
  622717,
  65672,
  229521,
  65682,
  589983,
  131295,
  655650,
  311,
  622923,
  295250,
  262487,
  65900,
  524672,
  164235,
  655756,
  131476,
  459165,
  426402,
  144663]]

In [18]:
val_test = test[test['id']==test.loc[6485]['id']]
val_test

,tags,id,plylst_title,songs,like_cnt,updt_date
6485,"[감성, 겨울밤, 위로, 추위, 쌀쌀한]",31658,,"[614325, 333591, 11908, 550954, 625586, 26254,...",9,2019-11-14 20:52:53.000

In [19]:
resultCase_tag_song(6485)

number of tags: 10, number of songs: 100

['31658',
 ['감성', '겨울밤', '위로', '추위', '쌀쌀한', '가을', '감성', '겨울', '기분전환', '발라드'],
 [614325,
  333591,
  11908,
  550954,
  625586,
  26254,
  140833,
  637294,
  461341,
  611737,
  86072,
  111546,
  579943,
  413809,
  373120,
  166841,
  325139,
  320474,
  222920,
  525152,
  263396,
  263435,
  525589,
  1513,
  264154,
  526345,
  2095,
  264576,
  264932,
  264955,
  527265,
  3312,
  265524,
  528024,
  528414,
  266273,
  266718,
  528951,
  4984,
  529328,
  5049,
  267381,
  529618,
  529664,
  267701,
  529965,
  5844,
  5871,
  530256,
  530892,
  6716,
  6799,
  6855,
  6945,
  531243,
  7070,
  269370,
  531574,
  531820,
  269827,
  7749,
  532114,
  532347,
  532471,
  532807,
  8719,
  533097,
  8829,
  9033,
  9071,
  9295,
  533739,
  534093,
  272466,
  534695,
  10441,
  534818,
  273161,
  273170,
  535399,
  535483,
  11761,
  11924,
  536584,
  12392,
  274690,
  536961,
  13142,
  13198,
  537527,
  13281,
  13519,
  13896,
  276265,
  276418,
  539118,
  15318,
  15341,
  144663,
  205179]]