In [1]:
import numpy as np
import pandas as pd
import json
import os

token_5000 = pd.read_json('token_0_34901/token_0_5000.json', typ='frame', orient='table', encoding='utf-8')
token_10000 = pd.read_json('token_0_34901/token_5000_10000.json', typ='frame', orient='table', encoding='utf-8')
token_15000 = pd.read_json('token_0_34901/token_10000_15000.json', typ='frame', orient='table', encoding='utf-8')
token_20000 = pd.read_json('token_0_34901/token_15000_20000.json', typ='frame', orient='table', encoding='utf-8')
token_25000 = pd.read_json('token_0_34901/token_20000_25000.json', typ='frame', orient='table', encoding='utf-8')
token_30000 = pd.read_json('token_0_34901/token_25000_30000.json', typ='frame', orient='table', encoding='utf-8')
token_35000 = pd.read_json('token_0_34901/token_30000_34901.json', typ='frame', orient='table', encoding='utf-8')

In [2]:
token_5000

        token                                               tags
0          신이  [[락], [종교음악베스트합창클래식, 추천인기합창클래식, 그리스도기독교합창클래식, ...
1          주업  [[CCM, 해외CCM, 국내ccm, 파워DJ_CCM, 추천ccm, 매주업뎃], [...
2      Quincy  [[재즈추천, 재즈], [재즈추천, 재즈], [재즈], [재즈추천, 재즈], [재즈...
3        한국노래                     [[방탄소년단, 전곡듣기], [방탄소년단, 전곡듣기]]
4          길티                                 [[길티플레져], [길티플레져]]
...       ...                                                ...
34896      캐논                                                 []
34897     힙스터                                                 []
34898      소장                                                 []
34899    citi                                                 []
34900   빌보드순위                                                 []

[34901 rows x 2 columns]

In [3]:
token_5000['tags'].to_list()[0]

[['락'],
 ['종교음악베스트합창클래식',
  '추천인기합창클래식',
  '그리스도기독교합창클래식',
  '이지리스닝합창클래식',
  '스트레스해소힐링추천합창클래식'],
 ['락'],
 ['종교음악베스트합창클래식',
  '추천인기합창클래식',
  '그리스도기독교합창클래식',
  '이지리스닝합창클래식',
  '스트레스해소힐링추천합창클래식']]

In [4]:
new_list = []
for i in token_5000.loc[0]['tags']:
    for j in i:
        new_list.append(j)
new_list = list(set(new_list))

In [5]:
new_list

['이지리스닝합창클래식',
 '락',
 '그리스도기독교합창클래식',
 '종교음악베스트합창클래식',
 '추천인기합창클래식',
 '스트레스해소힐링추천합창클래식']

In [6]:
token_5000['token']

0            신이
1            주업
2        Quincy
3          한국노래
4            길티
          ...
34896        캐논
34897       힙스터
34898        소장
34899      citi
34900     빌보드순위
Name: token, Length: 34901, dtype: object

In [7]:
def generalToken(tok, idx):
    new_list = []
    for i in tok.loc[idx]['tags']:
        for j in i:
            new_list.append(j)
    new_list = list(set(new_list))
    return new_list

In [8]:
token_20000.loc[20005]

token    결절
tags     []
Name: 20005, dtype: object

In [14]:
tokens = token_5000['token'].to_list()
tags = []
for i in range(5000):
    tags.append(generalToken(token_5000, i))
print(5000)
for i in range(5000, 10000):
    tags.append(generalToken(token_10000, i))
print(10000)
for i in range(10000, 15000):
    tags.append(generalToken(token_15000, i))
print(15000)
for i in range(15000, 20000):
    tags.append(generalToken(token_20000, i))
print(20000)
for i in range(20000, 25000):
    tags.append(generalToken(token_25000, i))
print(25000)
for i in range(25000, 30000):
    tags.append(generalToken(token_30000, i))
print(30000)
for i in range(30000, 34901):
    tags.append(generalToken(token_35000, i))
print('complete')

5000
10000
15000
20000
25000
30000
complete

In [15]:
new = pd.DataFrame(data = tokens, columns=['token'])
new

        token
0          신이
1          주업
2      Quincy
3        한국노래
4          길티
...       ...
34896      캐논
34897     힙스터
34898      소장
34899    citi
34900   빌보드순위

[34901 rows x 1 columns]

In [16]:
new['tags'] = np.nan
new = new.to_numpy()
for i in range(34901):
    new[i, 1] = tags[i]
new2 = pd.DataFrame(data = new, columns=['token', 'tags'])
new2.to_json('token_final.json', orient='table')

In [35]:
new

array([['신이',
        list(['이지리스닝합창클래식', '그리스도기독교합창클래식', '추천인기합창클래식', '스트레스해소힐링추천합창클래식', '종교음악베스트합창클래식', '락'])],
       ['주업',
        list(['밴드', '부드러운', '팝', '파워DJ_CCM', '해외', '매장음악', '휴식', '추천ccm', '힐링', '매주업뎃', '밴드음악', '달달', '국내ccm', '커피', '분위기', 'CCM', '카페', '해외CCM', '잔잔한'])],
       ['Quincy', list(['재즈추천', '재즈'])],
       ...,
       ['소장',
        list(['소울', '밴드', '명곡', '청량한', '일렉', '상쾌한', '발라드', '여행', '선선할때', '감성힙합', '소장', '아주여성합창단', '감성', '1위', '가을', '운전', '랩', '33분', '노래', '그루브', '추억', '월드뮤직', '이별', '분위기', '잔잔한', 'RnB', '시원한', '사랑', '장르불문', '하우스', '트렌디', '취향저격', '힙합', '1990년대발라드', '인디', '휴식힐링', '산책', '음색', '매장음악', '보물창고', '다이소플레이스트', '개인소장', '휴양지', '소향', '좋다', '힙합RnB', '냥', '바캉스', '목소리_갑', '운동', '설렘', '나얼', '팝', '드라이브', '회상', '커버곡', '보컬', '알앤비', '힐링', '편집샵', 'Kshmr', '퀸', '팝송', '뉴에이지', '국힙', '새벽', '클럽', '국내힙합', 'Pop', '실패없는', '2010년대', '매력적인', '보헤미안랩소디', '스트레스해소', '신나는', '추천뮤직', '로렌다이글', '트렌드', '베스트11', '박홍준', '추천곡', '스트레스', '드라이빙', '흥얼흥얼', '일렉트로닉', '유은성', '중독성', '휴식', '띵곡', '강추', '목소리깡패', '소통', '기분전환', 'EDM', '카페'])],
       ['citi',
        list(['복고', '레트로', '기분전환', '드라이브', '시티팝', '감성', 'CityPop', '리듬', '여름', '청량한'])],
       ['빌보드순위', list(['빌보드', 'Pop'])]], dtype=object)

In [38]:
new_token_final = pd.read_json('token_final.json', orient='table')
new_token_final

        token                                               tags
0          신이  [이지리스닝합창클래식, 그리스도기독교합창클래식, 추천인기합창클래식, 스트레스해소힐링...
1          주업  [밴드, 부드러운, 팝, 파워DJ_CCM, 해외, 매장음악, 휴식, 추천ccm, 힐...
2      Quincy                                         [재즈추천, 재즈]
3        한국노래                                      [방탄소년단, 전곡듣기]
4          길티                                            [길티플레져]
...       ...                                                ...
34896      캐논                  [뉴에이지, 변주곡, 기분전환, 드라이브, 신나는, 클래식]
34897     힙스터  [billieeilish, 밴드, 클럽힙합, 인디팝, 힙스터, experimenta...
34898      소장  [소울, 밴드, 명곡, 청량한, 일렉, 상쾌한, 발라드, 여행, 선선할때, 감성힙합...
34899    citi  [복고, 레트로, 기분전환, 드라이브, 시티팝, 감성, CityPop, 리듬, 여름...
34900   빌보드순위                                         [빌보드, Pop]

[34901 rows x 2 columns]